page-login {

  .login-content{
    background-color: #FFFFFF;
  }

  .label-logo{
    color: black;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
  }

  .label-description{
    color: black;
    font-size: 130%;
    text-align: center;
  }

  .bottom-row{
    padding-top: 250px;
  }

  .rights-deserved{
    color: black;
    text-align: center;
    font-size: 80%;
  }

}
